.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.Rhistory
.vscode
inst/doc
README.html
pkgdown
paper/*.tex
paper/*.pdf
paper/*.aux
paper/*.log
paper/*.idx
paper/*.out
paper/*.toc
paper/*.ilg
paper/*.ind
dev/*.rds
dev/benchmarks_80000.rds
dev/benchmarks_70000.rds
dev/benchmarks_60000.rds
dev/benchmarks_50000.rds
dev/benchmarks_40000.rds
dev/benchmarks_30000.rds
dev/benchmarks_20000.rds
dev/benchmarks_10000.rds
dev/benchmarks_1e+05.rds
paper/paper_files/
